.test {
    display: flex;
    align-items: center;
    gap: 40px;

    .column {
        display: grid;
        gap: 20px;
    }
}


.test2 {
    display: grid;
    padding: 40px;
    gap: 20px;
}


.circleContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
    height: 200px;

    /*.circle {*/
    /*    width: 100px;*/
    /*    height: 100px;*/
    /*    background: linear-gradient( 0deg, #f1adb9 20%, #f1adb9 20%, #ef9baa 51% );*/
    /*    border-radius: 50%;*/
    /*    border: 1px solid;*/
    /*}*/
    /*.circle1 {*/
    /*    width: 100px;*/
    /*    height: 100px;*/
    /*    background: linear-gradient( 0deg, #ef9baa 20%, #ef9baa 20%, #f1adb9 51% );*/
    /*    border-radius: 50%;*/
    /*    border: 1px solid;*/
    /*}*/
    .circle {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: conic-gradient(
                from 90deg,
                rgba(255, 143, 165, 1) 0deg 180deg,
                transparent 180deg 360deg
        );
        /*background: linear-gradient(0deg, #caafb6, #c9aeb7, #d5c1ba, transparent, transparent, transparent, transparent, transparent);*/
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid pink;
        opacity: 0.6;


    }
    .innerCircle {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        /*background: linear-gradient(0deg, #fffcf3, #fffcf3, #fffcf3, #fffcf3,  #a5d0f2, #8fc2f1, #5b92e2, #5b92e2 );*/
        opacity: 0.6;
        background: conic-gradient(
                from 90deg,
                #fffcf3 0deg 180deg,
                rgba(255, 143, 165, 1) 180deg 360deg
        );


    }
}
