.test {
    display: flex;
    align-items: center;
    padding: 40px;
    gap: 40px;

    .column {
        display: grid;
        gap: 20px;
    }
}

.test2 {
    display: grid;
    padding: 40px;
    gap: 20px;
    background-color: #ef9baa;
}