@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #fffcf3;
    --foreground: #171717;
}

/*
Add a dark mode toggle sometime
@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #fffcf3;
    }
}
*/

body {
    color: var(--foreground);
    background: var(--background);

}


